
 *,
*:before,
*:after {
  box-sizing: border-box;
}

/**
* Layout
*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.container{
  border: 5px solid gray;
  max-width: 100%;
  width:800px;
  padding:1.5rem;
  margin:0 auto;
  box-shadow: 5px 9px 9px;
}

img {
  height: auto;
  max-width: 100%;
}

/**
* Button Styles
* https://fdossena.com/?p=html5cool/buttons/i.frag
*/
button {
  color:white;
  text-transform: uppercase;
  background: rgb(48, 75, 8);
  padding: 10px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  outline:none;
}

/**
* Blockquotes
*/
blockquote {
  border: 0.25em solid #e5e5e5;
  font-style: italic;
  font-size: 1.5rem;
  margin: 0 0 1.5625em;
  padding-left: 1em;
  padding-right: 1em;
  quotes: none;
  box-shadow:  4px 3px 5px gray; 
  background-color: antiquewhite;
   
}

blockquote:before,
blockquote:after {
  content: '';
}

@media (min-width: 800px){
blockquote{
  width: 100%;
 }
}
